@font-face {
    font-family: '';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  body * {
font-family: 'emoji';
}

.munedepage nav.navbar.navbar-expand-lg {
    padding: 6px 0%;
}
.munedepage nav.navbar.navbar-expand-lg {
    padding: 6px 0%;
    min-height: 100px;
    background-color: white;
}
.munedepage nav.navbar.navbar-expand-lg div#navbarNav ul li a {
    color: #3e8195;
    font-size: 18px;
    width: 99%;
    font-weight: 600;
}
.pagehome .element_1 .block1_home {
    position: relative;
}

.pagehome .element_1 .block1_home .block_text h3 {
    color: #f9f9f9;
    font-size: 31px;
    font-weight: 800;
}
.pagehome .element_1 .block1_home .block_text a {
    background-color: aliceblue;
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}
.owl-nav {
    display: none;
}

.element_2 .team-section {
    margin-top: 26px;
}
.element_2 .section-heading p {
    font-size: 17px;
    padding: 7px 9%;
    font-family: inherit;
    color: #343434;
    font-weight: 600;
}
.element_2 .section-heading {
    margin-bottom: 40px;
}

.element_2 .owl-dots {
    margin-top: -55px;
}
.element_2 .item {
    padding: 8px 5%;
}
.pagehome .element_1 .block1_home .block_text p {
    font-size: 17px;
    color: aliceblue;
    margin-bottom: 20px;
}

.footer_site p {
    font-size: 17px;
    color: aliceblue;
    font-family: emoji;
    font-style: normal;
}

.pagep_setaple-sanpel .about-us {
    padding: 54px 0px;
    background-color: #f7f7f7;
}
.pagep_setaple-sanpel .left-image img {
    width: 100%;
    margin-top: 25px;
    height:350px ;
}
.pagep_setaple-sanpel .contact-us .right-content ul li i {
    margin-right: 5px;
    margin-left: 4px;
    margin-bottom: 15px;
}

.pagep_setaple-sanpel.contact-us .right-content ul i {
    width: 51px;
    height: 57px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #00bcd4;
    border-radius: 16%;
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    font-size: 18px;
    padding-bottom: 23px;
    padding-top: 0px;
}

.pagep_setaple-sanpel.contact-us .right-content ul p {
    margin-bottom: 0;
    font-size: 17px;
    color: #6a6a6a;
    line-height: 25px;
    display: inline-flex;
    font-weight: 900;
    font-family: inherit;
}



.pagep_setaple-sanpel .right-content.contact-us {
    margin-top: 40px;
}


.pagep_setaple-sanpel .right-content.contact-us p {
    font-size: 14px;
    color: #6a6a6a;
    line-height: 25px;
    display: inline-block;
}
.page_dety_serves .tetel h3 {
    text-align: center;
    margin: 30px 1%;
    font-size: 32px;
    font-weight: 700;
    color: #244763;
}
.page_dety_serves .block_sev .text p {
    font-size: 17px;
    padding-top: 20px;
    font-family: emoji;
    color: #526372;
}
.page_dety_serves .block_sev {
    margin: 40px 2%;
}
.page_dety_serves .block_sev img {
    width: 90%;
    margin-left: 5%;
}

.munedepage nav.navbar.navbar-expand-lg div#navbarNav ul li a {
    color: #3e8195;
}




.right-content.contact-us {
    margin-top: 44px;
    margin-bottom: 25px;
}

.home.vue__de__site {
    min-height: 700px;
}

.mune__de_page a.navbar-brand.logo img {
    width: 80%;
    border-radius: 10px;
    margin-left: -20%;
}
.munedepage .navbar .navbar-toggler {
    border-color: #fff;
    background-color: #3e8195;
}
.munedepage nav.navbar.navbar-expand-lg a {
    font-size: 15px;
    margin: 2px 13px;
    font-weight: 700;
    width: 15%;
}

.munedepage  .navbar .navbar-nav .nav-item {
    margin: 0px 0px;
}
.pagehome .element_1 .image img {
    width: 100%;
    max-height: 540px;
}
.block1_home .owl-dots {
    position: absolute;
    width: 100%;
    top: 475px;
}
.pagehome .element_1 .block1_home .block_text {
    position: absolute;
    z-index: 99999999999999;
    top: 66px;
    background: #090b0a52;
    width: 40%;
    padding: 30px 3%;
    left: 13%;
}
.pagehome .element_1 .block1_home .block_text h3 {
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 600;
}

.pagehome .element_1 .block1_home .block_text p {
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 22px;
    margin-top: 27px;
}
.element_2 .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 267px;
}
nav.navbar.navbar-expand-lg .container {
    margin: 4px 0%;
}

.element_2 .team-section .team-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #efa321;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}


.element_2 .team-section .section-heading h2 {
    color: #5ebaf6;
}



.footer_site .block_bottn p {
    font-size: 17px;
    color: aliceblue;
    padding: 4px;
    font-family: emoji;
    font-style: normal;
}


.footer_site .text_block p {
    font-size: 17px;
    margin-top: 10px;
    font-family: fantasy;
}
.footer_site {
    background: #5ebaf6;
    text-align: center;

    padding: 0px 2px;
    
}
.pagep_setaple-sanpel .block_taepe--de-page h2 {
    color: #eea21f;
    background: #5ebaf6;
    text-align: center;
    padding: 24px 4px;
    font-size: 41px;
    font-family: inherit;
    font-style: italic;
    margin-bottom: 0px;
}
.home.vue__de__site .section-heading p {
    font-size: 18px;
    color: #1c394c;
}

.pagep_setaple-sanpel .about-us .section-heading h2 {
    color: #eea21f;
    font-size: 32px;
    font-family: unset;
    line-height: 35px;
    margin-top: 41px;
}


.block__bottne {
    margin: 46px;
    text-align: center;
}
.block__bottne a button {
    border: none;
    color: white;
    background-color: #f2bb5a;
    padding: 7px 50px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 10px;
}

.home.vue__de__site .blockfromelare label {
    font-size: 26px;
    font-family: auto;
    color: #5ebaf6;
}
.home.vue__de__site .blockfromelare button.btn.btn-primary {
    background: #eea21e;
    border: none;
    color: white;
    font-size: 22px;
    width: 40%;
    margin-left: 30%;
    margin-top: 13px;
}
.pagep_setaple-sanpel .right-content.contact-us img {
    width: 94%;
    margin-top: 16px;
}
.home.vue__de__site .blockfromelare {
    margin: 44px 32%;
}
.footer_site img {
    width: 57px;
    border-radius: 12px;
    margin: 14px 7px;
    margin-top: 11px;
}

.footer_site .block__top {
    background: #3b698773;
    padding: 10px;
}
.footer_site .text_block p span {
    font-size: 15px;
    font-family: cursive;
    padding-left: 9px;
}
.Cookies {
    margin: 42px 5%;
}
.Cookies p {
    color: #27547b;
    font-size: 19px;
    font-family: emoji;
    line-height: 25px;
    text-align: justify;
}
.Cookies .tatlledepage h3 {
    font-family: cursive;
    color: #184461;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 46px;
}

.Cookies h3 {
    font-family: fangsong;
    color: #5ebaf6;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
    .munedepage div#navbarNav {
    padding-top: 60px;
}
    .pagep_setaple-sanpel .block_taepe--de-page h2 {
     
        text-align: center;
        padding: 23px 4px;
        font-size: 23px;
        font-family: inherit;
        font-style: italic;
        margin-bottom: 0px;
    }
    .footer_site p {
        font-size: 10px;
        color: aliceblue;
        font-family: emoji;
        font-style: normal;
        padding: 2px 4%;
    }
    .pagep_setaple-sanpel .right-content.contact-us img {
        width: 90%;
        margin-top: 0px;
        margin: 22px 5%;
    }
    .about-us .right-content, .contact-us .right-content {
        margin-left: 0px;
        padding: 1px 5%;
    }
    .pagep_setaple-sanpel .contact-us .right-content ul li i {
        margin-right: 36px;
        margin-left: 35px;
        margin-bottom: -1px;
    }
   
    .pagehome .element_1 .block1_home .block_text {
        position: absolute;
        top: 15px;
        background: #090b0aa3;
        width: 90%;
        padding: 43px 10%;
        left: 5%;
        border-radius: 19px;
    }
    .pagehome .element_1 .block1_home .block_text {
        position: absolute;
        top: 35px;
        background: #5555558f;
        width: 90%;
        padding: 45px 4%;
        left: 5%;
        border-radius: 19px;
    }
   
    .element_2 .team-section .section-heading h2 {
        font-size: 23px;
        font-weight: 900;
    }
    .element_2 .section-heading p {
        font-size: 17px;
        padding: 7px 3%;
        font-family: fangsong;
        color: #343434;
        font-weight: 500;
        text-align: left;
        line-height: 21px;
    }

    .owl-dots {
        display: none;
    }
    .page_dety_serves .block_sev img {
        width: 90%;
        margin-left: 5%;
        margin-top: 28px;
    }
    .page_dety_serves .tetel h3 {
        text-align: center;
        margin: 29px 1%;
        font-size: 19px;
        font-weight: 700;
        color: #375064;
    }
    .pagehome .element_1 .image img {
        width: 100%;
        min-height: 569px;
    }
    .munedepage nav.navbar.navbar-expand-lg a {
        font-size: 15px;
        margin: 9px 13px;
        font-weight: 700;
        width: 41%;
    }
    
    .block1_home .owl-dots {
        position: absolute;
        width: 100%;
        top: 515px;
        display: block;
    }
    .mune__de_page a.navbar-brand.logo img {
        width: 54%;
        
    }
    
.element_2 .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -34px;
    display: block;
}
.footer_site p {
    font-size: 20px;
    color: aliceblue;
    font-family: emoji;
    font-style: normal;
    padding: 2px 4%;
}
.element_2 .team-section .section-heading h2 {
    font-size: 23px;
    margin-bottom: -20px;
    font-weight: 900;
}

.about-us .section-heading {
    margin-bottom: 3px;
    border-bottom: 3px solid #eee;
    padding-bottom: 21px;
}

.block__bottne a button {
    border: none;
    width: 99%;
    color: white;
    background-color: #f2bb5a;
    padding: 7px 50px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 10px;
}

.block__bottne {
    margin: 28px 6px;
    text-align: center;
}  
.page_dety_serves .block_sev img {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
}
.page_dety_serves .tetel h3 {
    text-align: center;
    margin: 29px 1%;
    font-size: 26px;
    font-weight: 700;
    color: #375064;
    font-family: cursive;
}
.home.vue__de__site .blockfromelare {
    margin: 5px 5%;
    margin-bottom: 25px;
}
}






/************************/
